.card {
  box-shadow: 3px 3px 30px grey;
  font-weight: bold;
  height: 400px;
}

.card h1 {
  margin: 0 auto;
  padding-top: 30px;
  text-align: center;
  font-size: 3rem;
}

.card-main {
  display: block !important;
  height: 100%;
  width: 100%;
  color: red;
}

.card-container-item {
  height: 300px;
  width: 250px;
  color: black;
  text-align: center;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
}
